Repository FarSetV/OnyxBay14, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 спрайты, 🗺️ карта, :iphone: UX/UI, :robot: Тесты, :ru: локализация, 🔊 SFX

.github/labeler.yml:

"🎨 спрайты":
- '**/*.rsi/*.png'

"🗺️ карта":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

":iphone: UX/UI":
- '**/*.xaml*'

":musical_note: Без C#":
- all: ["!**/*.cs"]

":robot: Тесты":
- "Content.*Tests/**/*"

":ru: локализация":
- "Resources/Locale/**/*"

"🔊 SFX":
- "Resources/Audio/**/*"

Localize nukeops ranks (#12393)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
Labels: :ru: локализация

fix: shaders on OpenGL ES 3.0
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/crt.swsl
  Resources/Textures/Shaders/crt2.swsl
Labels: none

tweak: add more tanks to dispensers and remove locks
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: none

fix: more localization
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: :ru: локализация

tweak: improve ban notification
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Links/UILinks.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Database/ServerBanDef.cs
  Content.Shared/Links/Links.cs
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: :iphone: UX/UI, :ru: локализация

feat: add more discord webhooks
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/DiscordWebhooks/DiscordModels.cs
  Content.Server/DiscordWebhooks/DiscordWebhooksManager.cs
  Content.Server/DiscordWebhooks/RoundEndReporterSystem.cs
  Content.Server/DiscordWebhooks/Webhooks/BanMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/EmoteMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/GenericMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/OOCMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/PardonMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/RoundEndMessageDiscordWebhook.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MoMMI/IMoMMILink.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

fix: ban webhook
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/PardonCommand.cs
Labels: none

tweak: more cute webhooks and working mentions
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Content.Server/Administration/Commands/RoleUnbanCommand.cs
  Content.Server/Administration/Managers/RoleBanManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/DiscordWebhooks/DiscordModels.cs
  Content.Server/DiscordWebhooks/DiscordWebhooksManager.cs
  Content.Server/DiscordWebhooks/RoundEndReporterSystem.cs
  Content.Server/DiscordWebhooks/Webhooks/EmoteMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/GenericMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/OOCMessageDiscordWebhook.cs
  Content.Server/DiscordWebhooks/Webhooks/RoundEndMessageDiscordWebhook.cs
Labels: none

machine upgrade for gas recycler (#12496)
  Content.Server/Atmos/Piping/Binary/Components/GasRecyclerComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: :ru: локализация

Fix missing name for notekeeper cartridge (#12519)
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
Labels: :ru: локализация

Fix rotting examine (#12488)
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: none

droppers behave more like syringes (#12518)
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Firelock fixes (#12542)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: none

Rebuild excited groups if blocked airflow direction of tile has changed. (#12548)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: none

Fixes mousetraps killing people in boxes (#12521)
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: none

more xenoarch tweaks (#12540)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/XenoArch/artifact_effects.yml
Labels: :iphone: UX/UI, :ru: локализация

Fix power assert. (#12506)
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: none

More hand fixes (#12502)
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Hands/HandEvents.cs
Labels: none

Adds Destructible data to some common objects. (#12524)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: none

Internals alert fix and adjustment (#12517)
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: none

Add automatic emergency shuttle call (#12473)
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
Labels: :ru: локализация

hotfix (#12530)
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: none

refact: overmap, bluespace and shuttle systems part 1
  Content.Client/Bluespace/BluespaceSystem.cs
  Content.Client/Overmap/OvermapSystem.cs
  Content.Client/Overmap/Systems/OvermapNavigatorSystem.cs
  Content.Client/Shuttles/UI/NavigatorControl.cs
  Content.Client/Shuttles/UI/OvermapTab.xaml.cs
  Content.IntegrationTests/Tests/Shuttles/BluespaceTest.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Content.Server/Bluespace/BluespaceSystem.cs
  Content.Server/Bluespace/Events/AfterEnterBluespaceEvent.cs
  Content.Server/Bluespace/Events/AfterExitBluespaceEvent.cs
  Content.Server/Bluespace/Events/AttemptEnterBluespaceEvent.cs
  Content.Server/Bluespace/Events/AttemptExitBluespaceEvent.cs
  Content.Server/Bluespace/Events/BeforeEnterBluespaceEvent.cs
  Content.Server/Bluespace/Events/BeforeExitBluespaceEvent.cs
  Content.Server/Bluespace/Events/EnterBluespaceEvent.cs
  Content.Server/Bluespace/Events/ExitBluespaceEvent.cs
  Content.Server/BluespaceOvermapTransition/BluespaceOvermapTransitionSystem.cs
  Content.Server/Overmap/Systems/OvermapGenerator.cs
  Content.Server/Overmap/Systems/OvermapNavigatorSystem.cs
  Content.Server/Overmap/Systems/OvermapSystem.cs
  Content.Server/Shuttles/Components/BluespaceComponent.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Bluespace.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Bluespace/BluespaceComponent.cs
  Content.Shared/Bluespace/Events/BluespaceMapUpdatedEvent.cs
  Content.Shared/Bluespace/SharedBluespaceSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Overmap/Systems/SharedOvermapNavigatorSystem.cs
  Content.Shared/Overmap/Systems/SharedOvermapSystem.cs
  Content.Shared/Shuttles/BUIStates/OvermapNavigatorBoundInterfaceState.cs
  Content.Shared/Shuttles/Components/SharedOvermapNavigatorComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/Locale/ru-RU/bluespace/bluespace.ftl
  Resources/Locale/ru-RU/console.ftl
Labels: :iphone: UX/UI, :robot: Тесты, :ru: локализация

add: rules button to escape menu
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
Labels: :iphone: UX/UI

fix: unsub delegate in discord webhooks
  Content.Server/DiscordWebhooks/Webhooks/GenericMessageDiscordWebhook.cs
Labels: none

tweak: add permssions to restartonroundend command
  Content.Server/ServerUpdates/RestartOnRoundEndCommand.cs
Labels: none

fix: round end webhook, use current connected players count
  Content.Server/DiscordWebhooks/RoundEndReporterSystem.cs
Labels: none

tweak: optimize overmap and some refactoring
  Content.Client/Shuttles/UI/NavigatorControl.cs
  Content.Client/Shuttles/UI/OvermapTab.xaml.cs
  Content.Server/Bluespace/BluespaceSystem.cs
  Content.Server/Bluespace/Events/BeforeExitBluespaceEvent.cs
  Content.Server/BluespaceOvermapTransition/BluespaceOvermapTransitionSystem.cs
  Content.Server/DiscordWebhooks/Webhooks/GenericMessageDiscordWebhook.cs
  Content.Server/Overmap/OvermapTile.cs
  Content.Server/Overmap/OvermapTiles.cs
  Content.Server/Overmap/Systems/OvermapGenerator.cs
  Content.Server/Overmap/Systems/OvermapNavigatorSystem.cs
  Content.Server/Overmap/Systems/OvermapSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Bluespace.cs
  Content.Shared/Bluespace/SharedBluespaceSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Overmap/SharedOvermapTile.cs
  Content.Shared/Overmap/Systems/SharedOvermapSystem.cs
  Content.Shared/Shuttles/BUIStates/OvermapNavigatorBoundInterfaceState.cs
Labels: :iphone: UX/UI

port: chat colors from ss13
  Resources/Prototypes/radio_channels.yml
Labels: none

add: science shuttle
  Content.Server/Shuttles/DockCommand.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
Labels: none

feat: add hard restart option
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Info/InfoSystem.cs
  Content.Server/ServerUpdates/RestartOnRoundEndCommand.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Content changes for TextEdit (#12557)
  Content.Client/Stylesheets/StyleNano.cs
  Resources/keybinds.yml
Labels: none

Species specific jumpsuit sprite fixes (#12552)
  Content.Client/Clothing/Systems/ClothingSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

fix: upstream shit
  Content.Client/Clothing/Overlays/HelmetOverlay.cs
  Content.Client/MainMenu/BackgroundControl.cs
  Content.Client/Parallax/ParallaxControl.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorViewport.cs
Labels: none

Add vv /c/enthover (#12545)
  Content.Client/Gameplay/GameplayStateBase.cs
Labels: none

Fixes sleepwalking (#12522)
  Content.Server/Bed/Sleep/SleepingSystem.cs
Labels: none

Fix tests (#12565)
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
Labels: :robot: Тесты

Fix two typos related to space suits. (#12551)
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Cache HTTP client in player locator (#12555)
  Content.Server/Administration/PlayerLocator.cs
Labels: none

Remove another duplicate prototype (#12547)
  Resources/Prototypes/NPCs/medibot.yml
Labels: none
