Repository FarSetV/OnyxBay14, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 спрайты, 🗺️ карта, :iphone: UX/UI, :robot: Тесты, :ru: локализация, 🔊 SFX

names and ghosts (#12331)
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Fix player list sorting (#12457)
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
Labels: :iphone: UX/UI

Remove emergencylight hashset (#12386)
  Content.Server/Light/Components/ActiveEmergencyLightComponent.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
Labels: none

HoP starting access tweak (#12345)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: none

Ignore falling body sound on component startup (#12455)
  Content.Shared/Standing/StandingStateSystem.cs
Labels: none

stack cleanup and mild refactoring (#11717)
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Content.Shared/Stacks/SharedStackComponent.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Stacks/StackPrototype.cs
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Stacks/Materials/Sheets/other.yml
  Resources/Prototypes/Stacks/Materials/ingots.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/consumable_stacks.yml
  Resources/Prototypes/Stacks/engineering_stacks.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/Stacks/power_stacks.yml
Labels: none

Stop reducing output pressure of gastank when low pressure (#11818)
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: none

Secoff helmet fixe (#12419)
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: none

Maybe fix test (#12480)
  Content.Server/Drone/DroneSystem.cs
Labels: none

Polish melee effects (#11653)
  Content.Client/Weapons/Melee/Components/WeaponArcVisualsComponent.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Effects/weapon_arc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Effects/arcs.rsi/fist.png
  Resources/Textures/Effects/arcs.rsi/meta.json
  Resources/Textures/Effects/arcs.rsi/slash.png
  Resources/Textures/Effects/arcs.rsi/spear.png
Labels: 🎨 спрайты

Update signs.yml (#12468)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
Labels: none

Implements pill container insertion/removal sounds (#12377)
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/pill_insert.ogg
  Resources/Audio/Effects/pill_remove.ogg
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: 🔊 SFX

reagent grinder machine upgrade (#12422)
  Content.Server/Kitchen/Components/ReagentGrinderComponent.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: :ru: локализация

Fix action bar duplication (#12456)
  Content.Client/Actions/ActionsSystem.cs
Labels: none

Getting the tooltip to display (#12275)
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: :iphone: UX/UI

Fix forensic scanner UI. (#12398)
  Content.Client/Forensics/ForensicScannerBoundUserInterface.cs
  Content.Client/Forensics/ForensicScannerMenu.xaml
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/short_print_and_rip.ogg
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
Labels: :iphone: UX/UI, :ru: локализация, 🔊 SFX

Add lobby ready count to game ticker info during pregame (#12157)
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: none

Predicted stamina (#12413)
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Content.Server/Contests/ContestsSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/ActiveStaminaComponent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnCollideComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Shared/Damage/Events/StaminaMeleeHitEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Parallelize BatteryRampPegSolver (#12351)
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/NodeGroups/PowerNet.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Power/Pow3r/IPowerSolver.cs
  Content.Server/Power/Pow3r/NoOpSolver.cs
  Content.Server/Power/Pow3r/PowerState.cs
  Pow3r/Program.Simulation.cs
  Pow3r/Program.UI.cs
Labels: :robot: Тесты

Forensic pads, zipties and glasses in the secfab (#12170)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: none

Access group, locker fill and entity (#12244)
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: none

Fix blindness and UIs (#12326)
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionComponent.cs
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionSystem.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Locale/en-US/eye/blindness.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: :ru: локализация

Prevent inserting into unpowered lathes (#12405)
  Content.Server/Materials/MaterialStorageSystem.cs
Labels: none

Fix damage colour persisting (#12469)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
Labels: none

Armor price calculations (#11417)
  Content.Server/Armor/ArmorSystem.cs
  Content.Shared/Damage/Prototypes/DamageTypePrototype.cs
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Damage/types.yml
Labels: none

delete duplicate entities (#12454)
  Resources/Prototypes/Entities/Objects/Consumable/Food/RandomSpawns/food_snacks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: none

Lawyers and Librarians can spawn with the Satchel and Duffelbag variants. (#12436)
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: none

Allows PKAs to be worn in belt slots. No funny sprites, though. (#12401)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
Labels: none

Localize sentience event target flavors (#11726)
  Content.Server/StationEvents/Events/RandomSentience.cs
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: :ru: локализация

Laser crate changes (#12191)
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-security.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
Labels: 🗺️ карта, :ru: локализация

Heterochromia (#12126)
  Resources/Locale/ru-RU/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_l.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_r.png
Labels: 🎨 спрайты, :ru: локализация

do not use identity for join announcement (#12479)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Filled up the sterile mask box completely :adhesive_bandage: (#12394)
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
Labels: none

rtg returns (#12143)
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
Labels: none

Refactor GameMapManager a bit (nukes mapforced) (#11513)
  Content.IntegrationTests/PoolManager.cs
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Maps/GameMapPrototype.cs
  Content.Server/Maps/IGameMapManager.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
Labels: :robot: Тесты, :ru: локализация

fix shove regression (#12316)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: :ru: локализация

Fix firelock danger indicators (#12327)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Doors/Components/FirelockComponent.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: none

Use linter for vendingmachinetest (#12445)
  Content.IntegrationTests/Tests/VendingMachineTest.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
Labels: :robot: Тесты

fix: upstream changes
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Resources/Locale/ru-RU/cartridge-loader/cartridge-loader-component.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/eye/blindness.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: :ru: локализация

fix butchering bug (#12253)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
Labels: none

.github/labeler.yml:

"🎨 спрайты":
- '**/*.rsi/*.png'

"🗺️ карта":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

":iphone: UX/UI":
- '**/*.xaml*'

":musical_note: Без C#":
- all: ["!**/*.cs"]

":robot: Тесты":
- "Content.*Tests/**/*"

":ru: локализация":
- "Resources/Locale/**/*"

"🔊 SFX":
- "Resources/Audio/**/*"
