Repository FarSetV/OnyxBay14, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 спрайты, 🗺️ карта, :iphone: UX/UI, :robot: Тесты, :ru: локализация, 🔊 SFX

Use correct image for air injector in construction menu (#12388)
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

fixing a bunch more prototype save tests (#12390)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Organs/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/sprays.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/vaccinator.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: :robot: Тесты

Quick fix for holofan and tiny fan (#12420)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: none

Strip someone through the examine button (#12409)
  Content.Server/Strip/StrippableSystem.cs
Labels: none

Reduces the bb of computers a bit (#12443)
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
Labels: none

Infinite lathe fix again (#12384)
  Content.Shared/Lathe/SharedLatheSystem.cs
Labels: none

presents (#12382)
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: none

Power struct enumerators (#12396)
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
Labels: none

Shot Projectile cause impulses in Space like they were supposed to (#12264)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

bunch of prototype save fixes (#12421)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: :robot: Тесты

update: sevastopol for xeno arch
  Resources/Locale/ru-RU/RobustToolbox/commands.ftl
  Resources/Locale/ru-RU/RobustToolbox/midi-commands.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
Labels: :ru: локализация

Cleanup map files some more (#12375)
  Resources/Maps/Salvage/cargo-1.yml
  Resources/Maps/Salvage/medium-1.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/medium-pet-hospital.yml
  Resources/Maps/Salvage/medium-pirate.yml
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
  Resources/Maps/Salvage/small-1.yml
  Resources/Maps/Salvage/small-2.yml
  Resources/Maps/Salvage/small-4.yml
  Resources/Maps/Salvage/stationstation.yml
  Resources/Maps/Salvage/wh-salvage.yml
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Test/singularity.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/infiltrator.yml
  Resources/Maps/knightshuttle.yml
  Resources/Maps/pirate.yml
  Resources/Maps/syndiepuddle.yml
Labels: 🗺️ карта

Add DamagePopup, Target Entities, And Practice Laser Gun (#12317)
  Content.Server/Damage/Components/DamagePopupComponent.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Specific/Security/target.rsi/meta.json
  Resources/Textures/Objects/Specific/Security/target.rsi/target_c.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_f.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_h.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_s.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_stake.png
Labels: 🎨 спрайты

Fixing some prototypes modifying components on init (#12385)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/wands.yml
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Misc/glowstick.rsi/meta.json
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-right.png
Labels: 🎨 спрайты, :robot: Тесты

Fix machine upgrade examine missing loc (#12410)
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Resources/Locale/ru-RU/machine/machine.ftl
Labels: :ru: локализация

feat: add restart after round end command
  Content.Server/ServerUpdates/RestartOnRoundEndCommand.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Resources/Locale/ru-RU/RobustToolbox/commands.ftl
Labels: :ru: локализация

tweak: don't kick player after ban
  Content.Server/Administration/Commands/BanCommand.cs
Labels: none

remove: sandbox from voting
  Resources/Prototypes/game_presets.yml
Labels: none

FixedPoint2 tweaks (#12431)
  Content.Shared/FixedPoint/FixedPoint2.cs
  Content.Tests/Shared/Chemistry/FixedPoint2_Tests.cs
Labels: :robot: Тесты

changing accumulators to timespan targets (#12407)
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Afk/AFKSystem.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Miasma/PerishableComponent.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/HealOnBuckleComponent.cs
  Content.Server/Movement/Systems/JetpackSystem.cs
  Content.Shared/Movement/Components/ActiveJetpackComponent.cs
Labels: none

guh (#12474)
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: none

Practice Disabler (#12301)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/meta.json
Labels: 🎨 спрайты

Clarify cloner messages for setup. (#12318)
  Resources/Locale/ru-RU/medical/components/cloning-console-component.ftl
Labels: :ru: локализация

Speedloader fix (#12417)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/tags.yml
Labels: :ru: локализация

rejuvenate support for eye damage (#12164)
  Content.Server/Chemistry/ReagentEffects/ChemHealEyeDamage.cs
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Content.Shared/Traits/Assorted/PermanentBlindnessSystem.cs
Labels: none

fix xenoarch death trigger exception (#12465)
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
Labels: none

Localize traits (#11765)
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: :ru: локализация

Stop hair-hiding from logging missing components (#12461)
  Content.Server/Humanoid/Systems/HumanoidSystem.cs
Labels: none

Localize store categories (#12453)
  Content.Shared/Store/StoreCategoryPrototype.cs
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/Store/categories.yml
Labels: :ru: локализация

Fix miasma error spam (#12458)
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: none

Flashlights in the YouTool and Sectech vendors (#12185)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: none

Hide late join departments with no jobs available (#12171)
  Content.Client/LateJoin/LateJoinGui.cs
Labels: none

Map renderer file name option (#12463)
  Content.MapRenderer/CommandLineArguments.cs
  Content.MapRenderer/Program.cs
Labels: none

Fixes vehicle movement blocking (#12501)
  Content.Shared/Buckle/SharedBuckleSystem.cs
Labels: none

make all mobs injectable (#12381)
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: none

Xenoarch Tweaks (#12429)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleBoundUserInterface.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisDestroyWindow.xaml
  Content.Client/Xenoarchaeology/Ui/AnalysisDestroyWindow.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/AnalysisConsoleComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Prototypes/XenoArch/artifact_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: :iphone: UX/UI, :ru: локализация

fixed windoor hacking (#12205)
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: none

Prayers Again (#10960)
  Content.Client/Prayer/PrayerSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayableComponent.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Prayer/SharedPrayerSystem.cs
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Textures/Interface/pray.svg
  Resources/Textures/Interface/pray.svg.png
  Resources/Textures/Interface/pray.svg.png.yml
Labels: :ru: локализация

Fix latejoin arrival announcement for roles with special entities (#12210)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Docking system can no longer forcibly open welded doors. (#12149)
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: none

.github/labeler.yml:

"🎨 спрайты":
- '**/*.rsi/*.png'

"🗺️ карта":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

":iphone: UX/UI":
- '**/*.xaml*'

":musical_note: Без C#":
- all: ["!**/*.cs"]

":robot: Тесты":
- "Content.*Tests/**/*"

":ru: локализация":
- "Resources/Locale/**/*"

"🔊 SFX":
- "Resources/Audio/**/*"
