Repository FarSetV/OnyxBay14, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 спрайты, 🗺️ карта, :iphone: UX/UI, :robot: Тесты, :ru: локализация, 🔊 SFX

.github/labeler.yml:

"🎨 спрайты":
- '**/*.rsi/*.png'

"🗺️ карта":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

":iphone: UX/UI":
- '**/*.xaml*'

":musical_note: Без C#":
- all: ["!**/*.cs"]

":robot: Тесты":
- "Content.*Tests/**/*"

":ru: локализация":
- "Resources/Locale/**/*"

"🔊 SFX":
- "Resources/Audio/**/*"

update: readme and logo
  README.md
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: none

Reset melee cd on hand selected (#11709)
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

fix syringe overdrawing (#12298)
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
Labels: none

combined MeleeHitEvent and ItemMeleeDamageEvent (#11628)
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapons/Melee/Events/ItemMeleeDamageEvent.cs
  Content.Server/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
Labels: none

Add necessary sprites for welder_mini. (#12368)
  Resources/Textures/Objects/Tools/welder_mini.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-left-flame.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-right-flame.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/meta.json
Labels: 🎨 спрайты

removes beforeserialization hook (#12319)
  Content.Client/Gravity/GravityGeneratorVisualizer.cs
  Content.Client/Research/TechnologyDatabaseComponent.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Alert/AlertOrderPrototype.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Research/Components/SharedTechnologyDatabaseComponent.cs
Labels: none

Ghost toggle lighting ability (#12374)
  Content.Client/Ghost/GhostComponent.cs
  Content.Client/Ghost/GhostSystem.cs
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
Labels: :ru: локализация

fix: localization
  Resources/Locale/ru-RU/lathe/components/lathe-component.ftl
  Resources/Locale/ru-RU/medical/components/stasis-bed-component.ftl
Labels: :ru: локализация

centcomm stuf (#12350)
  Resources/Maps/centcomm.yml
Labels: 🗺️ карта

Add spawnable spent cigarettes and folded chairs. (#12294)
  Content.Server/Light/Components/MatchstickComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
Labels: none

fix: Wiki now displays the proper names and descriptions for chemistry recipes and the rest instead of the localization keys. (#12359)
  Content.Server/Entry/EntryPoint.cs
Labels: none

Linking doors and buttons (#11826)
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: none

fix: remove unused field
  Content.Shared/Doors/Components/DoorComponent.cs
Labels: none

fix: save centcomm as a grid
  Resources/Maps/centcomm.yml
Labels: 🗺️ карта

fix several traitor objective bugs (#12212)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
Labels: none

Allow gas filters to not filter gases. (#12051)
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Shared/Atmos/Piping/Trinary/Components/SharedGasFilterComponent.cs
  Resources/Locale/ru-RU/components/gas-filter-component.ftl
Labels: :iphone: UX/UI, :ru: локализация

Fixes crates phasing through firelocks. (#12329)
  Content.Server/Physics/Controllers/ConveyorController.cs
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: none

Better pinpointer accuracy + small cleanup (#12378)
  Content.Client/Pinpointer/ClientPinpointerSystem.cs
  Content.Client/Pinpointer/PinpointerVisualizer.cs
  Content.Client/Pinpointer/PinpointerVisualizerSystem.cs
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/PinpointerVisuals.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  SpaceStation14.sln.DotSettings
Labels: none

Box fixes and Stealth Box in uplink (#12194)
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/CardboardBox/CardboardBoxSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Interaction/InteractHand.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: none

Entity whitelist/blacklist for traits (#12348)
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: none

fix infinite lathe printing bug (#12343)
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: :iphone: UX/UI

Aghost tweaks (#12373)
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: none

Make PathfindingSystem take a nap during large explosions (#12309)
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NodeContainer/EntitySystems/NodeGroupSystem.cs
Labels: none

purge: box
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Resources/Prototypes/Maps/box.yml
Labels: 🗺️ карта, :robot: Тесты

Content side for removing IMap / IMapGrid comps (#12357)
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Server/Administration/Commands/VariantizeCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Atmos/Commands/AddAtmosCommand.cs
  Content.Server/Atmos/Commands/AddGasCommand.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Dragon/DragonSystem.Rule.cs
  Content.Server/GameTicking/Rules/SuspicionRuleSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Server/Radiation/Systems/RadiationSystem.Blockers.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/Tabletop/TabletopSystem.Map.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
Labels: :iphone: UX/UI

Machine upgrade examine verb (#12119)
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Power/EntitySystems/UpgradeBatterySystem.cs
  Content.Server/Power/EntitySystems/UpgradePowerSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
  Resources/Locale/en-US/medical/components/stasis-bed-component.ftl
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
Labels: :ru: локализация

fix lsobjectives (#12365)
  Content.Server/Objectives/Commands/ListObjectivesCommand.cs
Labels: none

Add toggle ghost visibility button to ghost GUI (#12325)
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
Labels: :iphone: UX/UI, :ru: локализация

make this one virtual ent noSpawn (#12361)
  Resources/Prototypes/Entities/Virtual/stripping_hidden.yml
Labels: none

Parallelize gas and decal systems. (#12349)
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Decals/DecalSystem.cs
Labels: none

Map pool cvar (#12313)
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Maps/GameMapPoolPrototype.cs
  Content.Server/Maps/GameMapPrototype.MapSelection.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Maps/dart.yml
  Resources/Prototypes/Maps/infiltrator.yml
  Resources/Prototypes/Maps/pirate.yml
  Resources/Prototypes/Maps/test.yml
Labels: 🗺️ карта

fix panic bunker (#12282)
  Content.Server/Connection/ConnectionManager.cs
Labels: none

Add alt click to hands (#12330)
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Hands/HandEvents.cs
Labels: none

Clear path on exception (#12335)
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
Labels: none

fix: default map
  Content.Shared/CCVar/CCVars.cs
Labels: none

update: xiv
  Resources/Textures/Logo/logo.png
Labels: none

fix: helmet overlays
  Content.Client/Clothing/HelmetOverlaySystem.cs
  Content.Server/Clothing/Systems/HelmetOverlaySystem.cs
  Content.Shared/Clothing/EntitySystems/SharedHelmetOverlaySystem.cs
Labels: none

tweak: remove sex restrictions from body types
  Resources/Prototypes/BodyTypes/normal.yml
  Resources/Prototypes/BodyTypes/slim.yml
Labels: none

Subscribe to attackattempt for stuncomp (#12415)
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: none

Content struct enumerators (#11894)
  Content.Client/Revenant/RevenantOverloadedLightsSystem.cs
  Content.Shared/Revenant/EntitySystems/SharedRevenantOverloadedLightsSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
Labels: none
